:root {
    /*-----------------------------font-size------------------------*/
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 24px;
    --fs-2lg: 26px;
    --fs-xl: 48px;
  --fs-2xl:64px
}
.logo-name{
    font-size: var(--fs-2lg);
}
.home{
    font-size: var(--fs-md);
}
.btn {
    font-size: var(--fs-md);
}
.heading {
    font-size: var(--fs-md);
}
.event {
    font-size: var(--fs-2xl);
}
.heading1 {
    font-size: var(--fs-xl);
}
.sub-heading {
    font-size: var(--fs-lg);
}
.cardBtn {
    font-size: var(--fs-md);
}
.logo-name{
    font-size: var(--fs-2lg);
}
.f-text {
    font-size: var(--fs-sm);
}
.gallery1 {
    font-size: var(--fs-md);
}
.home {
    font-size: var(--fs-sm);
}
.company {
    font-size: var(--fs-sm);
}
@media(min-width:576px) {
    :root {
        --fs-xl: 36px;
    }
}
